<img src="../images/airplane-symbol.jpg" style="float: left; margin: 20px;" width="50" height="50"> 
#  Predicting Flight Delays (<i>a Proof-of-Concept</i>)

Author: Solomon Heng

---

# (2) Cleaning Weather Data

## Processes covered in this notebook:
1. [Importing Extracted METAR data](#(1)-Importing-Extracted-METAR-data)
2. [Cleaning dew_point](#(2)-Cleaning-dew_point)
3. [Cleaning temp](#(3)-Cleaning-temp)
4. [Cleaning visibility](#(4)-Cleaning-visibility)
5. [Cleaning winddirspd](#(5)-Cleaning-winddirspd)
6. [Cleaning QNH](#(6)-Cleaning-QNH)
7. [Cleaning wind variation](#(7)-Cleaning-wind-variation)
8. [Final checks and exporting dataset](#(8)-Final-checks-and-exporting-dataset)

In [1]:
import re
import pandas as pd
import numpy as np

---
### (1) Importing Extracted METAR data

---

In [2]:
wx = pd.read_csv('../datasets/unclean_wx.csv')

In [3]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
0,1,2015,1,0,52,A3037,/01,0,0,0,0,0,0,05/,0,0,10SM,0,33005KT
1,1,2015,1,1,52,A3037,/00,0,0,0,0,0,0,04/,0,0,10SM,0,31004KT
2,1,2015,1,2,52,A3036,/00,0,0,0,0,0,0,04/,0,0,10SM,0,00000KT
3,1,2015,1,3,52,A3037,/M01,0,0,0,0,0,0,03/,0,0,10SM,0,32005KT
4,1,2015,1,4,52,A3035,/M01,0,0,0,0,0,0,03/,0,0,10SM,0,32006KT

---
### (2) Cleaning dew_point

---

In [4]:
wx['dew_point'] = [i.replace('/', '') for i in wx['dew_point']]
wx['dew_point'] = [i.replace('M', '-') for i in wx['dew_point']]

In [5]:
# Converting to correct dtype

wx['dew_point'] = wx['dew_point'].astype(int)

In [6]:
wx.head(2)

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
0,1,2015,1,0,52,A3037,1,0,0,0,0,0,0,05/,0,0,10SM,0,33005KT
1,1,2015,1,1,52,A3037,0,0,0,0,0,0,0,04/,0,0,10SM,0,31004KT

---
### (3) Cleaning temp

---

In [7]:
wx['temp'] = [i.replace('/', '') for i in wx['temp']]
wx['temp'] = [i.replace('M', '-') for i in wx['temp']]

In [8]:
# Converting to correct dtype

wx['temp'] = wx['temp'].astype(int)

In [9]:
wx.head(2)

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
0,1,2015,1,0,52,A3037,1,0,0,0,0,0,0,5,0,0,10SM,0,33005KT
1,1,2015,1,1,52,A3037,0,0,0,0,0,0,0,4,0,0,10SM,0,31004KT

---
### (4) Cleaning visibility

We will be converting all of them with Statute Mile as base unit

---

In [10]:
wx.visibility.unique()

array(['10SM ', '1/2SM ', '3/4SM ', '1/4SM ', '16SM ', '1/8SM '],
      dtype=object)

In [11]:
wx[wx.visibility == '16SM ']

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
1495,3,2015,4,6,52,A3007,16,LTG,-,RA,SH,SN,0,10,TS,VC,16SM,040V110,14003KT
1496,3,2015,4,7,52,A3006,16,LTG,-,RA,SH,SN,0,10,TS,VC,16SM,040V110,15004KT

In [12]:
wx.iloc[1846,:].visibility

'10SM '

In [14]:
wx['visibility'] = [i.replace('SM', '') for i in wx['visibility']]
wx['visibility'] = [i.replace('1/2', '0.5') for i in wx['visibility']]
wx['visibility'] = [i.replace('3/4', '0.75') for i in wx['visibility']]
wx['visibility'] = [i.replace('1/4', '0.25') for i in wx['visibility']]
wx['visibility'] = [i.replace('1/8', '0.125') for i in wx['visibility']]

In [15]:
wx.visibility.unique()

array(['10 ', '0.5 ', '0.75 ', '0.25 ', '16 ', '0.125 '], dtype=object)

In [16]:
# Converting to correct dtype

wx['visibility'] = wx['visibility'].astype(float)

In [17]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
0,1,2015,1,0,52,A3037,1,0,0,0,0,0,0,5,0,0,10.0,0,33005KT
1,1,2015,1,1,52,A3037,0,0,0,0,0,0,0,4,0,0,10.0,0,31004KT
2,1,2015,1,2,52,A3036,0,0,0,0,0,0,0,4,0,0,10.0,0,00000KT
3,1,2015,1,3,52,A3037,-1,0,0,0,0,0,0,3,0,0,10.0,0,32005KT
4,1,2015,1,4,52,A3035,-1,0,0,0,0,0,0,3,0,0,10.0,0,32006KT

---
### (5) Cleaning winddirspd

We will be splitting the information up into:
1. Wind Direction _(winddir)_
2. Wind Speed _(windspd)_
3. Wind Gusts _(windgust)_

---

In [18]:
wx.winddirspd.unique()

array(['33005KT', '31004KT', '00000KT', '32005KT', '32006KT', '33004KT',
       '33007KT', '31003KT', '31006KT', 'VRB03KT', '26003KT', '29004KT',
       '30003KT', '28005KT', '30006KT', '34004KT', '34005KT', '35006KT',
       '03005KT', '20003KT', '30004KT', '15003KT', '33006KT', '04004KT',
       'COR 000', '06003KT', '04006KT', '03007KT', '07006KT', '11004KT',
       '11006KT', '14006KT', '13006KT', '12006KT', '10005KT', '12007KT',
       '10006KT', '11009KT', '10008KT', '09009KT', '11007KT', '11008KT',
       '10009KT', '12010KT', '12009KT', '12008KT', '11005KT', '09006KT',
       '10007KT', '14007KT', '18008KT', '20008KT', '17005KT', '17006KT',
       '16005KT', '13004KT', '24012G2', '20007KT', '19005KT', '19008KT',
       '25005KT', '24008KT', '24010KT', '24009G1', '26013G2', '26012G2',
       '27014G1', '29016G2', '30015G2', '31014G2', '29013G1', '29014G2',
       '31013G2', '32011KT', '32011G1', '33014KT', '33019G2', '33014G2',
       'COR 330', '34012KT', '33010G2', '32014KT', '34010KT', '33013G2',
       '33012KT', '32009KT', '33010KT', '34008KT', '33008KT', '02006KT',
       '31005KT', '28006KT', '27005KT', '28007KT', '27011G1', '29008KT',
       '29012G2', '31017G2', '30013G2', '28011KT', '27009KT', '31007KT',
       '30007KT', '31011KT', '31010KT', '32004KT', '32007KT', '33011KT',
       '32012KT', '31012KT', '31009KT', '32016G2', '32013G2', '32019KT',
       '32018KT', '34018G2', '33023G2', '34024G2', '33027G3', '35022G3',
       '35018G2', '34016G2', '34015G2', '33012G1', '35014G2', '35015KT',
       '36011KT', '35007KT', '03008KT', '04007KT', '08006KT', '15007KT',
       'VRB04KT', '16003KT', '12003KT', '15005KT', '18005KT', '18003KT',
       '27003KT', '27006KT', '27008KT', '29009KT', '32012G1', '32010G1',
       '31008KT', '30011KT', '30010KT', '29007KT', '34013G2', '34010G1',
       '34011KT', '34009G1', '34009KT', '34006KT', '01004KT', '13003KT',
       '10004KT', '09005KT', '08008KT', '07009KT', '09007KT', '07008KT',
       '08009KT', '08012KT', '09010KT', '08014KT', '08011KT', '07010KT',
       '10010KT', '09012KT', '09011KT', '08007KT', '09008KT', '08005KT',
       '11003KT', '10003KT', '12004KT', '32008KT', '35009KT', '34007KT',
       '08003KT', '07012G1', '06013KT', '06011KT', '08010KT', '07005KT',
       '05006KT', '05009KT', '02007KT', '04005KT', 'COR 350', '36004KT',
       '29005KT', '30005KT', '27004KT', '32003KT', '19003KT', '28004KT',
       '26006KT', '32010KT', '32013KT', '30008KT', '23003KT', '33003KT',
       '28003KT', '14005KT', '17010KT', '18011G1', '15008KT', '16008KT',
       '17008KT', '16004KT', 'COR 150', '14003KT', '17004KT', '21004KT',
       '23005KT', '23006KT', '22004KT', '25006KT', '29014KT', '31018G2',
       '29018G2', '31023G2', '29015G2', '28019G2', '28010KT', '26004KT',
       '25004KT', '28008KT', '26007KT', '22003KT', '24005KT', '24009KT',
       '25009KT', '22010G1', '25007KT', '24007KT', '24004KT', '24006KT',
       '23004KT', '24003KT', '25008KT', '29003KT', '30014G1', '33013KT',
       '35008KT', '04009KT', '09004KT', '05003KT', '07003KT', '36008KT',
       '01006KT', '36007KT', '05005KT', '06010KT', '09016KT', '10017G2',
       '10014G2', '09017G2', '08017KT', '09020KT', '08016G2', '09015G2',
       '10012KT', '29010KT', '31019G2', '30018G2', '31012G2', '29012G1',
       '30016G2', '30012G1', '29013KT', '29006KT', '26005KT', '25003KT',
       '22007KT', '22008KT', '26008KT', '21010G2', '21012G1', '23011G2',
       '21011KT', '21008G1', '19008G1', '20006KT', '21005KT', '02009KT',
       '21003KT', '27012KT', '28011G1', '27007KT', '29010G1', '29016G1',
       '32015G2', '32012G2', '30009KT', '33015G2', '34014G2', '34013KT',
       '34013G1', '35011KT', '33009KT', '34012G1', '35010KT', '36009KT',
       '06005KT', '17003KT', '18004KT', '15004KT', '20009KT', '20010KT',
       '21008KT', '21010KT', '19010KT', '20009G1', '21006KT', '23007KT',
       '32018G2', '34019G2', '33020G3', '32022G3', '33022G3', '33021G2',
       '33018G2', '32014G2', '32017G2', '33017G2', '13005KT', '12005KT',
       '20013G1', '19006KT', '18009KT', '16009KT', '17012KT', '18014G2',
       '19015G2', '19014G2', '19013G2', '25014G2', '21007KT', '29012KT',
       '27014G2', '31022G3', '30021G2', '30020G2', '31020G2', '30019G2',
       '32022G2', '32023G2', '31024G2', '34015G1', '34003KT', '17007KT',
       'COR 180', '33011G2', '35014G1', '34017G2', '34017KT', '35015G2',
       '33020G2', '21007G1', '20005KT', '22005KT', 'COR 240', '24011KT',
       'COR 220', '22013G1', '25013G1', '23007G1', '23008G1', '22006KT',
       '20004KT', '23008KT', '22009G1', '33016G2', '33018KT', '32010G2',
       '31014KT', '32008G1', '33010G1', '35005KT', '07007KT', '13007KT',
       '30012KT', '32019G2', '32019G3', '33023G3', '31022G2', '34020G2',
       '35019G2', '35011G2', 'VRB05KT', '27012G1', '28015G2', '27015G2',
       '26017G2', '26015G2', '26012G1', '27010G1', '25010G1', '25010KT',
       '28013G1', '31020G3', '32020G2', '31021G3', '33012G2', '35016KT',
       '34014KT', '35007G1', '02005KT', '12009G1', '13009KT', '13008KT',
       '13010KT', '14009G1', '08011G1', '01005KT', '30011G1', '31012G1',
       '26014G1', '30013KT', 'COR 300', '29020G2', '31018G3', nan,
       '30017G2', '31013KT', '29017G2', 'COR 310', 'COR 160', '15006KT',
       '14007G1', '14009KT', '14011G1', '16007KT', '15009KT', '17010G1',
       '16008G1', 'COR 140', '16010KT', '18007KT', 'COR 010', '35004KT',
       '30015KT', '31016KT', 'COR 320', 'VRB04G1', '07011KT', 'COR 080',
       '02012KT', '01010KT', '03009KT', 'COR 340', '29011KT', '33007G1',
       '01007KT', '06009KT', '09014KT', '08013KT', '07014KT', '08008G1',
       '11010KT', '12011KT', '10011KT', '09013KT', '16006KT', 'VRB06KT',
       '19007KT', 'COR 200', '23013G2', '25014G1', '19014G1', '21016G2',
       '19011G2', '19011KT', '22012G1', '22011G1', '22010KT', '20012KT',
       '20014G1', '21009G1', '20012G1', '31016G2', '33026G3', '31017G3',
       '34021G2', '34011G1', '36006KT', '02003KT', '07004KT', '02004KT',
       '06007KT', '04008KT', '06006KT', '20011KT', '22009KT', '19004KT',
       '35003KT', '05007KT', '07010G1', 'COR 100', '07012KT', '07011G1',
       '07013KT', '08015KT', '09015KT', '09020G2', '08016KT', '09017KT',
       '08018G2', '10013G2', '09013G1', '09012G1', '10011G1', '32009G1',
       '29011G1', 'COR 070', '09011G1', 'COR 120', '07015KT', '08004KT',
       '05008KT', '06008KT', '08013G1', '05013KT', '09014G1', '14004KT',
       '14008KT', '26009KT', '25011G1', '23009G1', '21009KT', '27010KT',
       '34015KT', '31009G1', '32009G2', '30013G1', '33009G1', '33014G1',
       '34007G1', '31011G1', '30011G2', '33013G1', '15010KT', 'COR VRB',
       '18006KT', '18010KT', '19009KT', '31015G2', 'COR 290', '26010KT',
       '31010G1', '31008G1', '28007G1', 'COR 270', '28010G1', '25009G1',
       '27009G1', '05004KT', 'VRB06G1', '24008G1', '23015G2', '21013G1',
       '24013G1', '23010G1', '23012G2', '22013G2', '22011KT', '32015KT',
       '36014G2', '35009G1', '35013G1', 'COR 090', '10012G1', '10014G1',
       '11012G1', '13011KT', '11011G1', 'VRB05G1', '23012KT', '21012KT',
       'COR 230', '23010KT', '21013KT', '21015KT', '23013KT', '19010G1',
       '23009KT', '36003KT', '12012G1', 'COR 110', '18013G1', '25011KT',
       '28012G1', '07016KT', '06016G2', '06015KT', '08014G1', '09012G2',
       '05010KT', 'COR 060', '09003KT', '17013G2', '19009G1', '19011G1',
       '21011G1', '22006G1', '25008G1', '22007G1', '23010G2', '22018G2',
       '24015G2', '29014G1', '30007G1', '30008G1', '27013G2', '27017G2',
       '30014KT', '28013KT', '26014G2', '28011G2', '26010G2', '29008G1',
       '26013KT', '31014G1', '02009G1', '13008G1', '23012G1', '28009KT',
       '27008G1', '28006G1', '29013G2', '30014G2', '28012G2', '31021G2',
       '32013G1', '36015KT', '35012KT', '10012G2', '13009G1', '16015G2',
       '01008KT', '35012G2', '35010G2', '36012KT', '35015G1', '35012G1',
       '34009G2', '17009KT', '08009G1', '13010G1', '13011G1', '03004KT',
       '10010G1', '26007G1', '36010KT', '11010G1', '15009G1', '17009G1',
       '15007G1', '17011KT', '15010G1', '16009G1', '16007G1', '30009G1',
       '31008G2', '31015KT', '32014G1', '13007G1', '11008G1', '09008G1',
       '15011KT', '14010KT', '16011KT', '08010G1', '12010G1', '22010G2',
       '02010KT', '36005KT', '03003KT', 'AUTO 13', '06004KT', '22013KT',
       '21006G1', '13006G2', '11014G1', '27010G2', '24013G2', '34007G2',
       'COR 210', '29007G1', '27011KT', '26008G1', '24011G1', '24011G2',
       '27015G1', '23011KT', '25012KT', '24012G1', '02008KT', '26011G1',
       '01013KT', '23011G1', '28012KT', '01012KT', '06023G2', '08012G1',
       '30012G2', '26012KT', '26010G1', 'COR 280', '01011KT', '05011KT',
       '04012G1', '01009KT', 'COR 030', '03006KT', '09013G2', '06016KT',
       '06010G1', '16011G2', '15011G1', '18013KT', '28009G1', '29016KT',
       '36012G1', '17007G1', 'COR 050', '10006G1', '10009G1', '06014G1',
       '05012G1', '08005G1', '11009G2', '03011G1', 'COR 040', '10008G1',
       '13012G1', '18012KT', '30010G1', '35011G1', '36007G1', '33008G1',
       '09009G1', '11009G1', '10007G1', '06012G1', '05012KT', '05014G1',
       '04010G1', '06006G1', '01003KT', '06012KT', '06008G1', '04010KT',
       '03010KT', '02011G1', '09009G2', '04013KT', '04012KT', '04011KT',
       '03012KT', '04015G1', '05016KT', '03014KT', '03011KT', '04012G2',
       '04014KT', '04011G2', '06014KT', '06012G2', '06013G2', '05011G1',
       '25007G1', 'COR 250', '11011KT', '11014G2', '08018KT', '09018G2',
       '08019G2', '08017G2', '09021G2', '08022G2', '09014G2', '09019KT',
       '08020G2', '10018KT', '09018KT', '11012KT', '05014KT', '07019KT',
       '06019G2', '07017G2', '07020KT', '06018G2', '08021G3', '08013G2',
       '22012G2', '24012KT', '28014KT', '33009G2', '34012G2', '12015KT',
       '13013G1', '13011G2', '11015G2', '11016G2', '10016G2', '10013G1',
       '11011G2', '12011G1', '15013G2', '15012G2', '32016KT', '34018KT',
       '31018KT', '30016G1', '33015KT', '22012KT', 'COR 130', '07014G1',
       '16012G1', '12012KT', '14011KT', '16014G1', '17011G1', '18010G1',
       '17013KT', '30017KT', '14010G1', '15012KT', '16013KT', '17012G1',
       '18011KT', '20013KT', '22008G1', '17015G2', '16017G2', '17019G2',
       '18008G1', '18013G2', '19012G1', '19012KT', '01022G2', '15011G2',
       '16021G2', '16016G2', '15016G2'], dtype=object)

In [19]:
wx[wx['winddirspd'].str.contains('COR', na=False)].head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
40,1,2015,2,16,52,A3032,7,0,-,RA,0,0,0,8,0,VC,10.0,0,COR 000
107,1,2015,5,11,52,A3041,-2,LTG,-,RA,0,0,0,4,TS,VC,10.0,003V007,COR 330
327,1,2015,14,15,52,A3028,3,LTG,-,RA,0,0,0,5,TS,VC,0.5,003V006,COR 350
410,1,2015,18,2,52,A3013,1,LTG,-,RA,0,SN,0,9,TS,VC,10.0,008V011,COR 150
836,2,2015,4,20,52,A3014,-4,LTG,-,RA,SH,SN,0,10,TS,VC,10.0,004V008,COR 180

In [20]:
wx.iloc[105:109,]

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd
105,1,2015,5,9,52,A3037,-1,LTG,-,RA,0,0,0,4,TS,VC,10.0,003V007,33019G2
106,1,2015,5,10,52,A3040,-1,LTG,-,RA,0,0,0,4,TS,VC,10.0,003V007,33014G2
107,1,2015,5,11,52,A3041,-2,LTG,-,RA,0,0,0,4,TS,VC,10.0,003V007,COR 330
108,1,2015,5,12,52,A3045,-2,LTG,-,RA,0,0,0,3,TS,VC,10.0,003V007,34012KT

In [21]:
re.findall(r'\d{3}', wx['winddirspd'][0])[0]

'330'

In [22]:
# Imputing nan with 999 for subsequent parsing

wx['winddirspd'].fillna('999', inplace=True)

In [23]:
wx['winddir'] = [re.findall(r'\d{3}', i) for i in wx['winddirspd']]
wx['windspd'] = [re.findall(r'\d{2}G|\d{2}KT', i) for i in wx['winddirspd']]
wx['windgust'] = [re.findall(r'G\d+', i) for i in wx['winddirspd']]

In [24]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,...,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd,winddir,windspd,windgust
0,1,2015,1,0,52,A3037,1,0,0,0,...,0,5,0,0,10.0,0,33005KT,[330],[05KT],[]
1,1,2015,1,1,52,A3037,0,0,0,0,...,0,4,0,0,10.0,0,31004KT,[310],[04KT],[]
2,1,2015,1,2,52,A3036,0,0,0,0,...,0,4,0,0,10.0,0,00000KT,[000],[00KT],[]
3,1,2015,1,3,52,A3037,-1,0,0,0,...,0,3,0,0,10.0,0,32005KT,[320],[05KT],[]
4,1,2015,1,4,52,A3035,-1,0,0,0,...,0,3,0,0,10.0,0,32006KT,[320],[06KT],[]

In [25]:
def extract_from_list(x):
    """Defining function to help us extract the string values from the list within the cell"""
    try:
        return x[0]
    except:
        pass

In [26]:
wx['windspd'] = wx['windspd'].apply(extract_from_list)
wx['winddir'] = wx['winddir'].apply(extract_from_list)
wx['windgust'] = wx['windgust'].apply(extract_from_list)

In [27]:
# Imputing nan with 999 for subsequent parsing of wind speed and dir

wx['windspd'].fillna('999', inplace=True)
wx['winddir'].fillna('999', inplace=True) # possibility of new nans as if wind is VRB, it would not be captured by regex above

In [28]:
# Dropping the units 'KT's from the wind speed feature
wx['windspd'] = [i.replace('KT', '') for i in wx['windspd']]
wx['windspd'] = [i.replace('G', '') for i in wx['windspd']]

# Replacing null with 0 as there is no gust
wx['windgust'].fillna(0, inplace=True)

In [29]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,...,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd,winddir,windspd,windgust
0,1,2015,1,0,52,A3037,1,0,0,0,...,0,5,0,0,10.0,0,33005KT,330,05,0
1,1,2015,1,1,52,A3037,0,0,0,0,...,0,4,0,0,10.0,0,31004KT,310,04,0
2,1,2015,1,2,52,A3036,0,0,0,0,...,0,4,0,0,10.0,0,00000KT,000,00,0
3,1,2015,1,3,52,A3037,-1,0,0,0,...,0,3,0,0,10.0,0,32005KT,320,05,0
4,1,2015,1,4,52,A3035,-1,0,0,0,...,0,3,0,0,10.0,0,32006KT,320,06,0

'COR' means corrected observations and we will not have the actual readings of wind speed if we have this. As such, if we have a corrected observation, we will the speed with the next recorded value.

We will also do the same _(take average of previous and next hour)_ for all other wind null values.

In [30]:
wx['windspd'] = wx['windspd'].astype(int)
wx['winddir'] = wx['winddir'].astype(int)

In [31]:
wx['windspd'] = [np.nan if i == 999 else i for i in wx['windspd']]
wx['winddir'] = [np.nan if i == 999 else i for i in wx['winddir']]

In [32]:
wx[wx['windspd'].isnull()].head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,...,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddirspd,winddir,windspd,windgust
40,1,2015,2,16,52,A3032,7,0,-,RA,...,0,8,0,VC,10.0,0,COR 000,0.0,NaN,0
107,1,2015,5,11,52,A3041,-2,LTG,-,RA,...,0,4,TS,VC,10.0,003V007,COR 330,330.0,NaN,0
327,1,2015,14,15,52,A3028,3,LTG,-,RA,...,0,5,TS,VC,0.5,003V006,COR 350,350.0,NaN,0
410,1,2015,18,2,52,A3013,1,LTG,-,RA,...,0,9,TS,VC,10.0,008V011,COR 150,150.0,NaN,0
836,2,2015,4,20,52,A3014,-4,LTG,-,RA,...,0,10,TS,VC,10.0,004V008,COR 180,180.0,NaN,0

In [33]:
wx['windspd'].fillna(method='bfill', inplace=True)
wx['winddir'].fillna(method='bfill', inplace=True)

In [34]:
# Dropping winddirspd feature as we no longer need it

wx.drop('winddirspd', axis=1, inplace=True)

In [35]:
pd.set_option('display.max_columns', 40)
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddir,windspd,windgust
0,1,2015,1,0,52,A3037,1,0,0,0,0,0,0,5,0,0,10.0,0,330.0,5.0,0
1,1,2015,1,1,52,A3037,0,0,0,0,0,0,0,4,0,0,10.0,0,310.0,4.0,0
2,1,2015,1,2,52,A3036,0,0,0,0,0,0,0,4,0,0,10.0,0,0.0,0.0,0
3,1,2015,1,3,52,A3037,-1,0,0,0,0,0,0,3,0,0,10.0,0,320.0,5.0,0
4,1,2015,1,4,52,A3035,-1,0,0,0,0,0,0,3,0,0,10.0,0,320.0,6.0,0

---
### (6) Cleaning QNH

_A3006 indicates the altimeter setting is 30.06 inHg (1,018 hPa) - Wikipedia_

---

In [36]:
# Correcting the QNH feature

wx['QNH'] = [i.replace('A', '') for i in wx['QNH']]

In [37]:
wx['QNH'] = wx['QNH'].astype(int)
wx['QNH'] = [i/100 for i in wx['QNH']]

In [38]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,wind_variation,winddir,windspd,windgust
0,1,2015,1,0,52,30.37,1,0,0,0,0,0,0,5,0,0,10.0,0,330.0,5.0,0
1,1,2015,1,1,52,30.37,0,0,0,0,0,0,0,4,0,0,10.0,0,310.0,4.0,0
2,1,2015,1,2,52,30.36,0,0,0,0,0,0,0,4,0,0,10.0,0,0.0,0.0,0
3,1,2015,1,3,52,30.37,-1,0,0,0,0,0,0,3,0,0,10.0,0,320.0,5.0,0
4,1,2015,1,4,52,30.35,-1,0,0,0,0,0,0,3,0,0,10.0,0,320.0,6.0,0

---
### (7) Cleaning wind variation

We shall opt to drop the wind variation feature as it "would not serve much purpose in the model. It would be too specific and technically every aircraft would experience a different variation (even diff variation for different approaches) if we were to take it into account, making it nearly impossible to determine what an aircraft actually experiences. I felt that using the averaged out wind direction ('winddir') would be more meaningful.

---

In [39]:
wx.drop('wind_variation', axis=1, inplace=True)

---
### (8) Final checks and exporting dataset

---

In [40]:
# Checking for duplicates

wx[wx.duplicated(subset=['month', 'day', 'hour'])]

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
1179,2,2015,19,2,52,30.15,-13,LTG,-,RA,SH,SN,0,-3,TS,VC,10.00,310.0,19.0,G2
3280,5,2015,17,14,52,30.28,18,LTG,-,RA,SH,SN,0,24,TS,VC,10.00,160.0,5.0,0
4016,6,2015,17,10,52,30.13,21,LTG,-,RA,SH,SN,0,25,TS,VC,10.00,300.0,5.0,0
4096,6,2015,20,17,52,30.06,22,LTG,-,RA,SH,SN,0,26,TS,VC,10.00,290.0,6.0,0
4194,6,2015,24,21,52,30.13,20,LTG,-,RA,SH,SN,0,22,TS,VC,0.50,220.0,9.0,0
4345,7,2015,1,5,52,30.04,18,LTG,-,RA,SH,SN,0,22,TS,VC,10.00,250.0,6.0,0
4868,7,2015,23,0,52,29.95,21,LTG,-,RA,SH,SN,0,26,TS,VC,10.00,10.0,6.0,0
5629,8,2015,23,16,52,30.03,21,LTG,-,RA,SH,SN,SQ,27,TS,VC,10.00,320.0,3.0,0
5639,8,2015,24,2,52,29.99,20,LTG,-,RA,SH,SN,SQ,26,TS,VC,10.00,350.0,4.0,0
5648,8,2015,24,10,52,29.98,20,LTG,-,RA,SH,SN,SQ,22,TS,VC,10.00,310.0,6.0,0
5757,8,2015,28,22,52,30.11,18,LTG,-,RA,SH,SN,SQ,27,TS,VC,10.00,120.0,6.0,0
5812,8,2015,31,4,52,30.11,18,LTG,-,RA,SH,SN,SQ,21,TS,VC,10.00,70.0,9.0,0
6091,9,2015,11,18,52,29.90,18,LTG,-,RA,SH,SN,SQ,29,TS,VC,10.00,290.0,8.0,0
6184,9,2015,15,14,52,30.35,14,LTG,-,RA,SH,SN,SQ,22,TS,VC,10.00,100.0,8.0,0
6382,9,2015,23,19,52,30.10,17,LTG,-,RA,SH,SN,SQ,27,TS,VC,10.00,80.0,9.0,G1
6384,9,2015,23,20,52,30.09,16,LTG,-,RA,SH,SN,SQ,26,TS,VC,10.00,60.0,8.0,G1
6393,9,2015,24,4,52,30.12,16,LTG,-,RA,SH,SN,SQ,21,TS,VC,10.00,60.0,8.0,0
6400,9,2015,24,10,52,30.11,13,LTG,-,RA,SH,SN,SQ,19,TS,VC,10.00,70.0,14.0,0
6402,9,2015,24,11,52,30.13,13,LTG,-,RA,SH,SN,SQ,19,TS,VC,10.00,70.0,12.0,0
6446,9,2015,26,6,52,30.00,18,LTG,-,RA,SH,SN,SQ,19,TS,VC,0.75,70.0,5.0,0
6511,9,2015,28,22,52,29.95,21,LTG,-,RA,SH,SN,SQ,23,TS,VC,10.00,90.0,8.0,0
6542,9,2015,30,4,52,29.84,21,LTG,-,RA,SH,SN,SQ,22,TS,VC,10.00,310.0,0.0,0
6549,9,2015,30,10,52,29.82,20,LTG,-,RA,SH,SN,SQ,21,TS,VC,0.50,340.0,3.0,0
6598,10,2015,2,10,52,29.80,14,LTG,-,RA,SH,SN,SQ,16,TS,VC,0.50,50.0,12.0,0
6619,10,2015,3,7,52,29.72,13,LTG,-,RA,SH,SN,SQ,14,TS,VC,10.00,70.0,12.0,0
6622,10,2015,3,9,52,29.69,13,LTG,-,RA,SH,SN,SQ,14,TS,VC,10.00,40.0,8.0,0
6834,10,2015,12,4,52,29.95,13,LTG,-,RA,SH,SN,SQ,15,TS,VC,10.00,0.0,0.0,0
6859,10,2015,13,4,52,29.82,12,LTG,-,RA,SH,SN,SQ,17,TS,VC,10.00,220.0,7.0,0
6890,10,2015,14,10,52,29.96,7,LTG,-,RA,SH,SN,SQ,11,TS,VC,10.00,240.0,3.0,0
6892,10,2015,14,11,52,29.97,7,LTG,-,RA,SH,SN,SQ,11,TS,VC,10.00,260.0,3.0,0
6904,10,2015,14,22,52,30.00,8,LTG,-,RA,SH,SN,SQ,22,TS,VC,10.00,320.0,4.0,0
6929,10,2015,15,22,52,30.10,10,LTG,-,RA,SH,SN,SQ,24,TS,VC,10.00,0.0,3.0,0
6932,10,2015,16,0,52,30.13,11,LTG,-,RA,SH,SN,SQ,21,TS,VC,10.00,200.0,3.0,0
7027,10,2015,19,22,52,30.37,1,LTG,-,RA,SH,SN,SQ,15,TS,VC,10.00,120.0,8.0,0
7058,10,2015,21,4,52,30.32,6,LTG,-,RA,SH,SN,SQ,13,TS,VC,10.00,90.0,4.0,0
7065,10,2015,21,10,52,30.34,4,LTG,-,RA,SH,SN,SQ,11,TS,VC,10.00,60.0,6.0,0
7090,10,2015,22,10,52,30.30,9,LTG,-,RA,SH,SN,SQ,13,TS,VC,10.00,80.0,4.0,0
7097,10,2015,22,16,52,30.33,15,LTG,-,RA,SH,SN,SQ,23,TS,VC,10.00,150.0,4.0,0
7130,10,2015,24,0,52,30.17,14,LTG,-,RA,SH,SN,SQ,20,TS,VC,10.00,150.0,3.0,0
7147,10,2015,24,16,52,30.20,14,LTG,-,RA,SH,SN,SQ,23,TS,VC,10.00,160.0,8.0,0
7149,10,2015,24,17,52,30.18,15,LTG,-,RA,SH,SN,SQ,23,TS,VC,10.00,170.0,5.0,0
7168,10,2015,25,11,52,30.18,16,LTG,-,RA,SH,SN,SQ,17,TS,VC,0.50,90.0,4.0,0
7170,10,2015,25,12,52,30.17,40,LTG,-,RA,SH,SN,SQ,17,TS,VC,0.50,100.0,7.0,0
7277,10,2015,29,22,52,29.90,13,LTG,-,RA,SH,SN,SQ,18,TS,VC,10.00,330.0,4.0,0
7438,11,2015,5,14,52,30.28,16,LTG,-,RA,SH,SN,SQ,17,TS,VC,0.50,100.0,8.0,0
7622,11,2015,13,5,52,30.06,4,LTG,-,RA,SH,SN,SQ,11,TS,VC,10.00,300.0,8.0,0
7653,11,2015,14,11,52,30.31,-5,LTG,-,RA,SH,SN,SQ,4,TS,VC,10.00,340.0,10.0,0
8441,12,2015,17,7,52,29.84,13,LTG,-,RA,SH,SN,SQ,14,TS,VC,0.50,90.0,5.0,0

Found some anomalies later on and came back to zoom in on them here

In [41]:
wx.iloc[1177:1182,]

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
1177,2,2015,19,1,52,30.12,-12,LTG,-,RA,SH,SN,0,-3,TS,VC,10.0,310.0,18.0,G3
1178,2,2015,19,2,0,30.12,-12,LTG,-,RA,SH,SN,0,-3,TS,VC,10.0,310.0,19.0,0
1179,2,2015,19,2,52,30.15,-13,LTG,-,RA,SH,SN,0,-3,TS,VC,10.0,310.0,19.0,G2
1180,2,2015,19,3,52,30.18,-14,LTG,-,RA,SH,SN,0,-4,TS,VC,10.0,300.0,17.0,G2
1181,2,2015,19,4,52,30.19,-14,LTG,-,RA,SH,SN,0,-5,TS,VC,10.0,330.0,18.0,G2

In [42]:
wx.iloc[3277:3283,]

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
3277,5,2015,17,12,52,30.28,16,LTG,-,RA,SH,SN,0,21,TS,VC,10.0,180.0,4.0,0
3278,5,2015,17,13,52,30.28,17,LTG,-,RA,SH,SN,0,23,TS,VC,10.0,170.0,7.0,0
3279,5,2015,17,14,0,30.28,17,LTG,-,RA,SH,SN,0,23,TS,VC,10.0,160.0,5.0,0
3280,5,2015,17,14,52,30.28,18,LTG,-,RA,SH,SN,0,24,TS,VC,10.0,160.0,5.0,0
3281,5,2015,17,15,52,30.28,18,LTG,-,RA,SH,SN,0,26,TS,VC,10.0,160.0,3.0,0
3282,5,2015,17,16,52,30.27,18,LTG,-,RA,SH,SN,0,27,TS,VC,10.0,160.0,6.0,0

In [43]:
wx['min'].unique()

array([52,  0], dtype=int64)

Notice how there is a 0 min in some columns. METARs in US are supposed to be releases on the 52nd minute, as such we will treat them as anomalies _(probably wrongly keyed in data)_ and drop all 0 min readings.

In [44]:
wx.shape

(8794, 20)

In [45]:
wx = wx[wx['min'] != 0]

In [46]:
wx.shape

(8739, 20)

We if we have the METAR every hour for the entire year of 365 days, we would have 8760 rows of readings, but notice that after we dropped the duplicates, we only have 3739 rows. It is likely that there are missing rows of data within for certain hours. 

We will continue with 8739 rows of data as of now and later on drop the combined data with no weather.

In [47]:
wx.isnull().sum()

month             0
year              0
day               0
hour              0
min               0
QNH               0
dew_point         0
lightning         0
low_intensity     0
rain              0
shower            0
snow              0
squall            0
temp              0
thunderyshower    0
vicinity          0
visibility        0
winddir           0
windspd           0
windgust          0
dtype: int64

In [48]:
wx.to_csv('../datasets/cleaned_wx.csv', index=False)